@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.peopleBox {
  width: 380px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f3f9fa;
  padding-right: 5px;
  border-radius: 5px;
}
.valid {
  width: 380px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f3f9fa;
  padding-right: 5px;
  border: 2px solid #e17052;
  border-radius: 5px;
}
.peopleP {
  font-size: 16px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: #5e7a7d;
  text-transform: capitalize;
}
.peopleInput {
  border: none;
  width: 360px;
  outline: none;
  display: flex;
  text-align: right;
  background-color: #f3f9fa;
  font-size: 24px;
  border-radius: 5px;
}
.peopleInput:focus {
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 0px #fff;
  border-radius: 5px;
}
.manImg {
  padding-left: 15px;
}
.errorMessage {
  font-size: 16px;
  font-weight: bold;
  color: #e17457;
  font-family: "Space Mono", monospace;
}
.errorContainer {
  display: flex;
  justify-content: space-between;
}
