@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.tipAmount {
  display: flex;
  width: 333px;
  height: 71px;
  align-items: center;
  justify-content: space-between;
}
.dollarsOutput {
  margin-top: 15px;
}

.totalAmount {
  display: flex;
  width: 333px;
  height: 71px;
  align-items: center;
  justify-content: space-between;
}
.dollars {
  font-size: 48px;
  font-weight: bold;
  color: #26c2ae;
}
.dollarsOutput {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
}
.label {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  margin: 0;
}
.tipP {
  display: flex;
  flex-direction: column;
  display: inline-block;
}
.secondlabel {
  color: #7f9d9f;
  font-size: 16px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  margin: 0;
}

@media screen and (max-width: 980px) {
  .tipAmount {
    width: 270px;
    justify-content: space-between;
    align-items: center;
  }
  .totalAmount {
    width: 270px;
  }
}

@media screen and (max-width: 750px) {
  .tipAmount {
    height: 200px;
  }
  .dollarsOutput {
    height: 260px;
  }
}
@media screen and (max-width: 485px) {
  .dollarsOutput {
    width: 327px;
  }
  .tipAmount {
    width: 281px;
    height: 48px;
  }
  .dollars {
    font-size: 28px;
  }
  .totalAmount {
    width: 281px;
    height: 48px;
  }
}

@media screen and (max-width: 375px) {
  .dollarsOutput {
    width: 327px;
  }
  .tipAmount {
    width: 281px;
    height: 48px;
    padding: 10px;
  }
  .dollars {
    font-size: 32px;
  }
  .totalAmount {
    width: 281px;
    height: 48px;
    padding: 10px;
  }
}
