@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  height: 100vh;
  background-color: #9fe8df;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 920px;
  height: 481px;
  background-color: #ffffff;
  border-radius: 25px;
}
.input {
  display: flex;
  flex-direction: column;
  width: 379px;
  height: 388px;
}
.output {
  display: flex;
  flex-direction: column;
  gap: 90px;
  background-color: #00474b;
  width: 413px;
  height: 417px;
  border-radius: 15px;
  align-items: center;
}
.resetBtn {
  width: 333px;
  height: 48px;
  border-radius: 5px;
  background-color: #9fe8df;
  font-size: 20px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: #00474b;
  border: none;
}
.defaultBtn {
  width: 333px;
  height: 48px;
  border-radius: 5px;
  background-color: #26c2ae;
  font-size: 20px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: #00474b;
  border: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
}

@media screen and (max-width: 980px) {
  .container {
    display: flex;
    width: 800px;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 388px;
  }
  .output {
    width: 380px;
  }
  .defaultBtn {
    width: 300px;
  }
  .resetBtn {
    width: 300px;
  }
}

@media screen and (max-width: 790px) {
  .container {
    gap: 30px;
  }
  .input {
    width: 300px;
    height: 388px;
  }
  .output {
    width: 300px;
    height: 388px;
    gap: 20px;
  }
  .defaultBtn {
    width: 180px;
  }
  .resetBtn {
    width: 180px;
  }
}

@media screen and (max-width: 485px) {
  .container {
    flex-direction: column;
    height: 789px;
    width: 380px;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
  }
  .input {
    width: 350px;
    margin: 0;
    align-items: center;
  }
  .output {
    width: 350px;
    height: 257px;
    gap: 10px;
    align-items: center;
    justify-items: center;
    margin-left: 30px;
  }
  .resetBtn {
    width: 350px;
    height: 48px;
    margin-bottom: 20px;
  }
  .defaultBtn {
    width: 350px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
    height: 789px;
    width: 375px;
    gap: 5px;
    margin-top: 30px;
  }
  .input {
    width: 311px;
    margin: 0;
  }
  .output {
    width: 327px;
    height: 257px;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }
  .resetBtn {
    width: 281px;
    height: 48px;
    margin-bottom: 20px;
  }
  .defaultBtn {
    width: 281px;
    margin-bottom: 20px;
  }
}
